@font-face {
	font-family: 'Courier Prime Sans';
	src: url(../../assets/fonts/CourierPrimeSans-Regular.woff2) format('woff2'),
	url(../../assets/fonts/CourierPrimeSans-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Courier Prime Sans';
	src: url(../../assets/fonts/CourierPrimeSans-Italic.woff2) format('woff2'),
	url(../../assets/fonts/CourierPrimeSans-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Courier Prime Sans';
	src: url(../../assets/fonts/CourierPrimeSans-Bold.woff2) format('woff2'),
	url(../../assets/fonts/CourierPrimeSans-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Courier Prime Sans';
	src: url(../../assets/fonts/CourierPrimeSans-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/CourierPrimeSans-BoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}