@font-face {
	font-family: 'Magical Stylish Sans Serif Demo';
	src: url(../../assets/fonts/MagicalStylishSansSerifDemo.woff2) format('woff2'),
	url(../../assets/fonts/MagicalStylishSansSerifDemo.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}