@font-face {
	font-family: 'Peace Sans';
	src: url(../../assets/fonts/PeaceSans.woff2) format('woff2'),
	url(../../assets/fonts/PeaceSans.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Peace Sans';
	src: url(../../assets/fonts/PeaceSans.woff2) format('woff2'),
	url(../../assets/fonts/PeaceSans.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}