@font-face {
	font-family: 'Scoob Epic';
	src: url(../../assets/fonts/ScoobEpic-Regular.woff2) format('woff2'),
	url(../../assets/fonts/ScoobEpic-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}