/*
@author: Seth Pletcher
@dateCreated: 10/22/2021

Supplemental colors for Meddling P.I. application:

Realm:        #006b4f
Surfie Green: #0e7f62	
Crusta:       #f87b34	
Golden Fizz:  #e4fb23	
Apple:        #539840	
Key Lime Pie: #c6d82c	
Atlantis:     #8dc732	
Sushi:        #6cb43c	
Golden Dream: #ecdc24	
Broom:        #f5fc1c	
Las Palmas:   #c4ec24
*/
body {
  font-family: Arial, Helvetica, sans-serif, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  color: black;
}

h1 {
  font-family: "Peace Sans", "Poppins", Arial, sans-serif;
}

h2 {
  font-family: "Poppins", Arial, sans-serif;
}

h3 {
  font-family: "Magical Stylish Sans Serif Demo", "Poppins", Arial, sans-serif;
}

.flex-container {
  display: flex;
}

.box {
  width: 85px;
  height: 86px;
}

/* CSS to override bootstrap.min.css for .form-control class */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0e7f62;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #6cb43c;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  /*border-color: $apple;*/
  box-shadow: 0 1px 1px #0e7f62 inset, 0 0 8px #6cb43c;
}

.form-check-input:focus {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
  border-color: #539840;
  box-shadow: 0 1px 1px #0e7f62 inset, 0 0 8px #6cb43c;
}

.form-check-input:focus {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  border-color: #539840;
  box-shadow: 0 1px 1px #0e7f62 inset, 0 0 8px #6cb43c;
}

/* Used in place of the .btn-primary class so class doesn't have to overridden */
/* TODO replace btn-sushi reference with realm color to stay within  60/30/10 rule */
.btn-sushi {
  color: #ffffff;
  /* TODO look into getting border to be consistent to something like the original bootstrap template */
  border-color: #6cb43c;
  background-color: #539840;
}

.btn-sushi:hover, .btn-sushi:focus, .btn-sushi:active, .btn-sushi.active, .open > .dropdown-toggle.btn-sushi {
  color: #ffffff;
  /* TODO look into getting border to be consistent to something like the original bootstrap template */
  border-color: #539840;
  background-color: #6cb43c;
}

.black {
  background: #000000;
}

.white {
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
}

.realm {
  background: #006b4f;
}

.surfie-green {
  background: #0e7f62;
}

.crusta {
  background: #f87b34;
}

.golden-fizz {
  background: #e4fb23;
}

.apple {
  background: #539840;
}

.key-lime-pie {
  background: #c6d82c;
}

.atlantis {
  background: #8dc732;
}

.sushi {
  background: #6cb43c;
}

.golden-dream {
  background: #ecdc24;
}

.broom {
  background: #f5fc1c;
}

.las-palmas {
  background: #c4ec24;
}