/*
@author: Seth Pletcher
@dateCreated: 10/22/2021

Supplemental colors for Meddling P.I. application:

Realm:        #006b4f
Surfie Green: #0e7f62	
Crusta:       #f87b34	
Golden Fizz:  #e4fb23	
Apple:        #539840	
Key Lime Pie: #c6d82c	
Atlantis:     #8dc732	
Sushi:        #6cb43c	
Golden Dream: #ecdc24	
Broom:        #f5fc1c	
Las Palmas:   #c4ec24
*/

$realm: #006b4f;
$surfieGreen: #0e7f62;
$crusta: #f87b34;
$goldenFizz: #e4fb23;
$apple: #539840;
$keyLimePie: #c6d82c;
$atlantis: #8dc732;
$sushi: #6cb43c;
$goldenDream: #ecdc24;
$broom: #f5fc1c;
$lasPalmas: #c4ec24;

$black: #000000;
$white: #ffffff;

body {
  font-family: Arial, Helvetica, sans-serif, apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  color: black;
}

h1 {
  font-family: 'Peace Sans', 'Poppins', Arial, sans-serif;
}

h2 {
  font-family: 'Poppins', Arial, sans-serif;
}

h3 {
  font-family: 'Magical Stylish Sans Serif Demo', 'Poppins', Arial, sans-serif;
}

.flex-container {
  display: flex;
}

.box {
  width: 85px;
  height: 86px;
}

/* CSS to override bootstrap.min.css for .form-control class */

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $surfieGreen;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid $sushi;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
  /*border-color: $apple;*/
  box-shadow: 0 1px 1px $surfieGreen inset, 0 0 8px $sushi;
}

.form-check-input:focus {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
  border-color: $apple;
  box-shadow: 0 1px 1px $surfieGreen inset, 0 0 8px $sushi;
}

.form-check-input:focus {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  border-color: $apple;
  box-shadow: 0 1px 1px $surfieGreen inset, 0 0 8px $sushi;
}

/* Used in place of the .btn-primary class so class doesn't have to overridden */
/* TODO replace btn-sushi reference with realm color to stay within  60/30/10 rule */
.btn-sushi {
  color: $white;
  /* TODO look into getting border to be consistent to something like the original bootstrap template */
  border-color: $sushi;
  background-color: $apple;  
}

.btn-sushi:hover, .btn-sushi:focus, .btn-sushi:active, .btn-sushi.active, .open > .dropdown-toggle.btn-sushi {
  color: $white;
  /* TODO look into getting border to be consistent to something like the original bootstrap template */
  border-color: $apple;  
  background-color: $sushi;
}

.black {
  background: $black;
}

.white {
  background: $white;
  border-style: solid;
  border-width: 1px;
}

.realm {
    background: $realm;
}

.surfie-green {
    background: $surfieGreen;
}

.crusta {
    background: $crusta;
}

.golden-fizz {
    background: $goldenFizz;
}

.apple {
    background: $apple;
}

.key-lime-pie {
    background: $keyLimePie;
}

.atlantis {
    background: $atlantis;
}

.sushi {
    background: $sushi;
}

.golden-dream {
    background: $goldenDream;
}

.broom {
    background: $broom;
}

.las-palmas {
    background: $lasPalmas;
}